div(class="card w-75 text-white bg-dark mb-3")
    div(class='card-body')
        h5(class='card-title')= row['title']
        h6(class="card-subtitle mb-2 text-muted")= row['annotation']
        p(class="card-text")= row['text']